:root {
    --color1: rgb(30,30,30);
    --color2: rgb(50,50,50);
    --color3: rgb(120,120,120);
    --color4: rgb(100,100,100);
    --color6: rgb(240,240,240);
    --color7: rgb(20,20,20);
    --color8: rgb(0,0,0);
    --color9: rgb(150,150,150);
    --color10: rgb(255,255,255);
    --color11: rgb(80,80,80);
    --color12: rgb(40,40,40);
    --color13: rgb(25,25,25);
    --shadow: rgb(30,30,30);
    --inversion: invert(100%);
    --inversion2: invert(100%);
    --dropshadow: rgba(0,0,0,0.25);
}
html, body {
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    scroll-behavior: smooth;
}
#index-main {
    overflow-x:hidden;
    background-color: var(--color1);
    width:100%;
    height:100%;
}
.navbar {
    position: absolute;
    width:100%;
    z-index: 500;
    position:fixed;
}
.nav-menu {
    display:none;
}
.top-menu {
    background-color: var(--color7);
    position:absolute;
    z-index: 300;
    width:100%;
    font-family:'Courier New', Courier, monospace;
    top:-300px;
    transition:0.5s;
}
.opened-menu {
    top:0;
    transition:0.5s;
}
.menu-ul {
    padding-left:0;
    color: var(--color10) !important;
    list-style-type: none;
    padding-top:60px;
    display:flex;
    margin: 0 auto;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.menu-hr {
    padding:none;
    margin:0;
    background-color: var(--color10);
    width:60%;
    color: var(--color10);
}
.menu-link {
    color: var(--color10);
    font-size:18px;
    text-shadow: 2px 2px var(--color2);
}
.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }

  .typing-demo {
    position: absolute;
    z-index:2;
    bottom: 55%;
    text-shadow: 1px 1px var(--color3);
    color: var(--color10);
    margin-left:20px;
    width: 30ch;
    animation: typing 3s steps(28) , blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.6em;
  }
  .learn-more {
    position:absolute;
    color: var(--color10);
    font-family:'Courier New', Courier, monospace;
    bottom:3%;
    z-index:100;
    left:25%;
    font-size:20px;
    display:flex;
  }
  @keyframes float {
    50% {
        bottom: 5px;
    }
  }
  .circle {
    position: relative;
    animation: float 2s infinite;
    bottom:0;
    width:30px;
    border-radius:50%;
    background-color: var(--color10);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:15px;
    box-shadow: 1.5px 1.5px var(--color4);
  }
  .discover {
    bottom:50%;
    position:absolute;
    text-shadow: 1px 1px var(--color3);
    color: var(--color10);
    margin-left:20px;
    width:0;
    animation-delay: 3s !important;
    animation: typing2 2.5s steps(30), blink .5s step-end infinite alternate;
    animation-fill-mode: forwards;
    white-space: nowrap;
    overflow:hidden;
    font-family: courier;
    font-size: 1em;
    z-index: 2;
  }

  @keyframes typing {
    from {
        width:0;
    }

  }
  @keyframes typing2 {
    0% {
        width: 0;
        border-right: 3px solid;
    }
    99% {
        border-right: 3px solid;
    }
    100% {
        width:425px;
        border:none;
    }

  }
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
.first-half {
    height:100%;
    display:flex;
}
.second-half {
    height:100%;
    width:100%;
    align-items: center;
    display:flex;
}
.card-container {
    padding-left: 25%;
    padding-right:150px;
}
.shape {
    background-color: var(--color2);
    height:100%;
    width:100%;
    right:0;
    position:absolute;

}
.shape:before {
    content: "";
    position:absolute;
    width:50%;
    height:100%;
    right:85%;
    transform:rotate(5deg);
    background-color: var(--color1);
}

.thing {
    position:relative;
    height:100vh;
    max-height:auto;
}
#second-page {
    background-color: var(--color1);
    border-top: 5px solid var(--color10);
    align-items: center;
}
.second-page-heading {
    color:var(--color10);
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    padding-top:100px;
    font-size: 50px;
    text-shadow: 2.5px 2.5px var(--color2);
}
.feature-row {
    display:flex;
    margin-top:100px;
    align-items: center;
}
.learn-more:hover {
    color:var(--color10);
    text-decoration: unset;
}
.card {
    margin: 0 auto;
    background-color: var(--color6);
    border: 3px solid var(--color7);
    height: 210px;
    width: 300px;
    box-shadow: 8px 8px var(--shadow);
    transition: 0.5s;
    right:0;
    border-radius:20px;
    bottom:0;
    opacity:0;
    animation: opacity 1s;
    animation-fill-mode: forwards;
}
.card2 {
    animation-delay: 0.4s;
}
.card3 {
    animation-delay: 0.8s;
}
.card4 {
    animation-delay: 1.2s;
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }

}

.top {
    margin: 0 auto;
    font-size: 22px;
    font-weight:600;
    color: var(--color8);
    text-shadow: 1px 1px var(--color11);
    height: 100%;
    display: flex;
    align-items: center;
}
.card-body {
    border-top: 3px solid var(--color12);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    color: var(--color8);
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card:hover {
    box-shadow: 16px 16px var(--shadow);
    background-color:var(--color1);
    color:var(--color10);
    border-color: var(--color10);
    right:10px;
    bottom:10px;
    color:var(--color10);
    cursor:pointer;
    transition: 0.5s;
}
.card:hover .top-img {
    filter: var(--inversion);
}
.suggested-card:hover .suggested-img {
    filter: var(--inversion);
}
.light_theme_img {
    filter: var(--inversion2);
}
.card:hover .card-body {
    border-top:3px solid var(--color10);
    color:var(--color10);
}
.card:hover .top {
    color: var(--color10);
}
.navbar-brand {
    text-shadow: 0.5px 0.5px var(--color2);
    font-weight:700;
}
.nav-item {
    margin-right:35px;
}
#test_link {
    color:#80f9ff;
}
.feature-hr {
    color:var(--color10);
    background-color:var(--color10);
}
.img-wrapper {
    height:15vw;
    width: 90%;
    border: 2px solid var(--color10);
    margin: 0 auto;
    display:block;
    border-radius:30px;
}
.feature-image {
    border-radius:30px;
    height: 100%;
}
.image1 {
    background: url('Images/Capture4.PNG') no-repeat;
    background-size:cover;
    background-position:center; 
}
.image2 {
    background: url('Images/Capture.PNG') no-repeat;
    background-size:cover;
    background-position:center;
}
.image3 {
    background: url('Images/Guiding-articles.PNG') no-repeat;
    background-size:cover;
    background-position:center; 
}
.text-area {
    padding: 5%;
}
.text-area > p {
}
.feature-box {
    display: block;
    margin: 0 auto;
    max-width:550px;
    min-height:550px;
    width:90%;
    padding-top:3%;
    background-color: var(--color2);
    box-shadow: 10px 10px var(--color13);
    border-radius:30px;
    right:0;
    position:relative;
    transition:0.5s;
    bottom:0;
}
.feature-box:hover {
    transition:0.5s;
    box-shadow: 25px 25px var(--color13);
    bottom:15px;
    right:15px;
}


.text-area {
    font-family:'Courier New', Courier, monospace;
    color:var(--color10);
    font-size:16px;

}
.text-area > h1 {
    font-size: 30px;
}


/*Typing field*/
#curve_chart {
    width:800px;
}
#typing-field-main {
    font-family:'Courier New', Courier, monospace;
    letter-spacing: -0.4px;
    word-spacing: -0.2px;
    background-color: var(--color1);
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.box {
    font-size:25px;
    position: relative;
    width:1000px;
    color:var(--color10);
    border-radius:20px;
    background-color:var(--color2);
}
.bi-arrow-clockwise {
    color:var(--color8);
}
.bi-caret-down-fill {
    color:var(--color8);
}
#challenge-text {
    display:none;
}
#display_element {
    width:90%;
    margin: 0 auto 10px auto;
    padding-top:10px;
}
#user-input {
    visibility: none;
    border:none;
    margin: 5px auto;
    background-color: inherit;
    position:absolute;
    width:100%;
    height:100%;
    bottom:-5px;
}
#user-input[type=text] {
    color:transparent;
    outline:none;
    user-select: none;
    -webkit-user-select: none;
}
#user-input[type=text]::selection {
    user-select: none;
}
.false {
    text-decoration:underline;
    color:crimson;
}
.reached {
    text-decoration:underline;
    background-color:rgba(90,90,90,0.1);
}
.option-row:first-child {
    margin-bottom:80px;
}
.true {
    color: var(--color11);
}
.stats {
    display:flex;
    justify-content: flex-end;
}
.wpm, .accuracy {
    background-color: var(--color10);
    box-shadow: 2px 2px var(--color9);
    border-radius:12px;
    color: var(--color8);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:90px;
    height:28px;
    margin-bottom:8px;
}
.wpm {
    margin-right:10px;
}
.accuracy {
    margin-right:25px;
}
#repeat {
    background-color:var(--color10);
    box-shadow: 2.5px 2.5px var(--color4);
    border-radius:100%;
    border:none;
    display:block;
    margin: 10px auto 0 auto;
    position:relative;
    top:60px;
}
#repeat:hover {
    cursor:pointer;
}
.option-button {
    justify-self: flex-end;
    background-color: var(--color10);
    border:none;
    width:90px;
    font-size:20px;
    margin-bottom:16px;
    margin-left:4px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius:10px;
    box-shadow: 3px 3px var(--color9);
    color: var(--color8);
}
.option-button:hover {
    cursor:pointer;
}
.selected {
    background-color: var(--color11) !important;
    box-shadow: 3px 3px var(--color2) !important;
    color:var(--color10) !important;
    transition: 0.5s;
}
.field {
    position:absolute;
    opacity:1;
    transition:0.3s;
    z-index: 1;
}
.results-field {
    transition:0.3s;
    position:absolute;
    opacity:0;
    z-index: 0;
}
#result-repeat {
    background-color:var(--color10);
    box-shadow: 2px 2px var(--color4);
    border-radius:100%;
    border:none;
    margin: 30px auto 0 auto;
    display:block;
}
#result-repeat:hover {
    cursor:pointer;
}
.left-column {
    margin-right:30px;
    display:flex;
    flex-direction: column;
}
.column-chart {
    display:flex;
    font-family:Calibri;
}
.result-sub {
    color: var(--color9);
    font-size:25px;
}
.result-num {
    font-size: 50px;
    color:var(--color10);
    text-shadow: 2.5px 2.5px var(--color11);
    margin-top:-38px;
}
.result-wpm {
    margin-top: 20px;
}
.output {
    font-weight:550;
    color:var(--color6);
    text-shadow: 1px 1px var(--color11);
}



/* Progress Page*/
.progress-heading {
    text-align:center; 
    padding-top:130px; 
    padding-bottom:50px;
}
#curve_chart2 {
    margin: 0 0 0 5%;
    width:900px;
    height:250px;
}
.progress-main {
    width:100%;
    background-color:var(--color1);
    height:100%;
}
.progress-container {
    color:var(--color10);
    font-family:'Courier New', Courier, monospace;
    width:100%;
    min-height:100vh;
    max-height:auto;
    background-color:var(--color1);
}
.graph-section {
    position: relative;
    display:flex;
    justify-content: center;
}
.types {
    margin-top:20px;
    flex-direction:column;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    gap:10px;
}
.progress-type {
    background-color: var(--color10);
    border:none;
    width:90px;
    color: var(--color8);
    font-size:18px;
    margin-bottom:16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius:10px;
    box-shadow: 3px 3px var(--color9);
}
.more-info {
    font-size:25px;
    margin-top:100px;
}
.suggested-card {
    margin: 0 !important;
    font-family: Calibri;
    color:var(--color8);
    box-shadow: 10px 10px var(--color7);
    width:250px;
    height:180px;
    background-color:var(--color6);
    border-radius:30px;
    transition:0.5s;
    border: 2px solid var(--color8);
}
.suggested-card:hover {
    box-shadow: 16px 16px var(--color1);
    background-color:var(--color2);
    color:var(--color10);
    border-color: var(--color10);
    right:10px;
    bottom:10px;
    cursor:pointer;
    transition: 0.5s;
}
.suggested-card:hover .suggested-top img {
    filter:invert(100%)
}
.suggested-card-body {
    border-top:3px solid var(--color6);
}
.suggested-card:hover .suggested-card-body {
    border-top:3px solid var(--color10);
}
.suggested-hr {
    margin:0;
    padding:0;
    background-color: var(--color8);
}
.suggested-top {
    margin: 0 auto;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:80%;
}
.suggested-card-body {
    font-size:18px;
    display: flex;
    justify-content: center;
}
.speed-col, .accuracy-col, .rank-col {
    justify-content: center;
}
.block {
    margin: 0 0 0 20%;
}

/* Article pages*/
#articles-main {
    padding:0;
    margin:0;
    overflow-x: hidden;
    height:100%;
    background-color: var(--color1);
    width:100%;
}
.articles-first-half {
    height:100%;
    align-items: center;
    flex-direction: column;
    display:flex;
    justify-content: center;
    gap:20px;
}
.articles-second-half {
    height:100%;
    width:100%;
    display:flex;
    background-color: var(--color2);
}

.article-img-wrap {
    position: relative;
    z-index:100;
}
.article-img {
    filter: drop-shadow(0 4px 4px var(--dropshadow)) var(--inversion);
    width:150px;
}
.article-title {
    position: relative;
    z-index: 2;
    font-family:'Courier New', Courier, monospace;
    font-weight:600;
    color: var(--color6);
    font-size:40px;
    
}
.article-rate {
    position:relative;
    z-index:2;
    display: flex;
    gap:20px;
}
.bi-star-fill, .bi-star {
    width:80px;
    color: var(--color6);
    height:80px;
    filter: drop-shadow(5px 5px 5px rgb(0,0,0));
}
a {
    text-decoration: none !important;
}





@media (max-width: 1800px) {
    .card {
        width:250px;
        height:180px;
    }
    .typing-demo {
        font-size: 200%;
    }
}
@media (max-width: 1650px) {
    .more-info {
        font-size:20px;
    }
    .feature-box {
        min-height: 530px;
    }
}
@media (max-width: 1400px) {
    #curve_chart {
        width:800px;
    }
    .suggested-card {
        box-shadow: 10px 10px var(--color7);
        width:190px;
        height:130px;
    }
    .more-info {
        font-size:16px;
    }
    .feature-box {
        min-height:500px;
    }
    .typing-demo {
        font-size: 160%;
    }
    .discover {
        font-size: 12px;
    }
    .card {
        width:200px;
        height:150px;
    }
    .top {
        font-size:16px;
    }
    .top-img {
        width:50px !important;
    }
    .text-area {
        font-size:14px;
    }
    .text-area > h1 {
        font-size: 22px;
    }
}
@media (max-width:1200px) {
    .result-num {
        text-shadow: 1.5px 1.5px var(--color10);
        font-size:30px !important;
        margin-top:-25px;
    }
    .result-sub {
        text-shadow: 1px 1px var(--color10);
        font-size:16px;
    }
    #curve_chart {
        width:600px;
    }
    .box {
        width:90%;
        margin: 0 auto;
    }
    .progress-heading {
        font-size:30px;
        padding-top:80px;
        padding-bottom:10px;
    }
    .feature-box {
        min-height: 470px;
    }
    #curve_chart2 {
        width: 600px;
    }
    .card-container {
        padding-right:60px;
    }
}
@media (max-width:990px) {
    .rank-wrap {
        padding-left:38%;
    }
    .wpm, .accuracy {
        width: 60px;
        height:20px;
        font-size:12px;
    }
    .option-button {
        width:60px;
        font-size:14px;
        margin-bottom:16px;
        margin-left:16px;
        border-radius:10px;
    }
    .box {
        font-size:22px;
    }
    #curve_chart {
        width:500px;
    }
    .logo-img {
        width:60px;
    }
    .navbar-brand {
        font-size:16px;
    }
    #nav-holder {
        display:none;
    }
    .nav-menu {
        display:block;
    }
    .second-page-heading {
        font-size: 35px;
        padding-top: 30px;
        margin-bottom: 40px;
    }
    .img-wrapper {
        height: 200px;
    }
    .feature-box {
        width:400px;
        min-height:300px;
        margin-bottom: 40px;
    }
    .feature-row {
        margin-top:0;
    }
    #curve_chart2 {
        height:180px;
    }
    .types {
        gap:10px;
    }
    .progress-heading {
        font-size:23px;
    }
    .progress-type {
        width:60px;
        font-size:12px;
    }
    .thing {
        max-height:auto;
    }
    .more-info {
        margin-top:70px;
    }
    .block {
        margin: 0;
    }
    .accuracy-col, .rank-col, .speed-col {
        border: 1px solid var(--color2);
    }
    .rank-col {
        padding-top:15px;
        border:none;
    }
    .learn-more {
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width:180px;
    }
    .option-row:first-child {
        margin-bottom: 20px;
    }
    .typing-demo {
        bottom:30%;
    }
    .discover {
        bottom:15%;
    }
    .card-container {
        padding-right:0;
        padding-left:0%;
        margin: 80px auto;
    }
    .first-half {
        height:260px;
        width:100%;
    }
    .second-half {
        width:100%;
        height:auto;
    }
    .shape {
        height:100%;
    }
    .shape:before {
        transform: rotate(-3deg);
        left: -5%;
        top: -8%;
        width:110%;
        height:15%;
        z-index: 1;
    }
}
@media (max-width:700px) {
    #curve_chart {
        width:400px;
    }
    .rank-wrap {
        padding-left:35%;
    }
    .box {
        font-size:18px;
    }
}
@media (max-width:600px) {/*
    .card {
        width:180px;
        height:120px;
        padding: 0;
    }
    .card-container {
        padding:none;   
    }*/
    .rank-wrap {
        padding-left:30%;
    }
    .second-page-heading {
        font-size:25px;
    }
    .more-info {
        font-size:12px;
    }
    .progress-type {
        width:50px;
        font-size:11px;
    }
    .typing-demo {
        font-size:130%;
        margin-left:0px;
    }
    .discover {
        font-size:70%;
        margin-left:0px;
    }
    .progress-heading {
        font-size:18px;
    }
    .rank-col {
        font-size:18px;
    }
}
@media (max-width:500px) {
    #curve_chart {
        width:300px;
    }
    .feature-box {
        width:90%;

    }
    .progress-heading {
        font-size:14px;
    }
    .more-info {
        font-size:10px;
    }
    .card {
        width:180px;
        height:120px;
    }
    .card-body {
        padding:0;
        height:25px;
    }
    .rank-wrap {
        padding-left:25%;
    }

}
@media (max-width:400px) {
    .curve_chart {
        width:50% !important;
        display:block;
    }
    .rank-wrap {
        padding-left:20%;
    }
    .img-wrapper {
        height:150px;
    }
    .text-area {
        font-size: 10px;
    }
    .text-area > h1 {
        font-size:16px;
    }
    .card {
        width:150px;
        height:100px;
    }
    .typing-demo {
        font-size:100%;
    }
    .discover {
        font-size:55%;
    }
    .top {
        font-size:12px;
    }
    .top-img {
        width:35px !important;
    }
    .card-body {
        font-size:10px;
    }

}
@media (max-width:360px) {
    .column-chart {
        display:block;
    }
    #curve_chart {
        display:block;
    }
    .result-wpm {
        margin: 0;
    }
    .left-column {
        flex-direction: row;
        gap: 30px;
    }
}



.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }